<mat-card class="mat-elevation-z4">

    <mat-card-title>{{book?.title}}</mat-card-title>
    <mat-card-subtitle>{{book.author.name}} {{book.author.surname}}</mat-card-subtitle>

    <img mat-card-image src="https://covers.openlibrary.org/b/isbn/{{book.id}}-L.jpg?default=false" alt="empty book cover" bookImageDefault>
    
    <mat-card-content>
        <p>
            <strong>Date realeased:</strong> {{book?.dateReleased}}
        </p>
        <p class="one-line">
            <strong>Categories:</strong> 
            <span class="one-line" *ngFor="let item of book.categories; index as i; last as isLast">
            {{item.name}}<span class="one-line" *ngIf="!isLast">, </span>
            </span>
        <p>
            <strong>Description:</strong>{{(book.description.length > 100) ?(book?.description | slice:0:100)+'...':(book?.description)}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="details.open_modal()">DETAILS</button>
        <button mat-button color="primary" (click)="edit(book.id)">EDIT</button>
        <button mat-button color="warn" (click)="details.open_modal()">DELETE</button>
    </mat-card-actions>
</mat-card>

<app-book-details #details [book]="book"></app-book-details>
