mat-card {
    margin-bottom: 16px;
    width: 300px;
}

mat-card-title, mat-card-subtitle {
    text-align: center;
}
p {
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 0px;
    
}

p > strong {
    margin-right: 6px;
}

img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.one-line {
    display: inline;
}

button { 
    align-content: right;
}