<ng-template #content let-modal> 
    <div class="modal-content">
        <div class="modal-header d-block">
            <div class="d-flex align-items-top">
                <h1 class="modal-title">Delete <strong>{{book?.title}}</strong> ?</h1>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <h3 class="modal-subtitle"><strong>Author:</strong> {{book?.author}}</h3>
        </div>
        <br />
        <div class="fixMargins modal-body d-flex justify-content-center">
            <div class="row">
                <div class="col alignLeft">
                    <button mat-stroked-button color="warn" (click)="modal.dismiss('Cross click')">NO</button>
                </div>
                <div class="col alignRight">
                    <button mat-raised-button color="primary" class="marginLeft" (click)="delete()">YES</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>


