<h1 mat-dialog-title>Editing <strong>{{category.name}}</strong>...</h1>
<div mat-dialog-content>
    <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>
                Category name:
            </mat-label>
            <input matInput required type="text" [formControl]="categoryName">
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" [disabled]="!categoryName.valid">Submit</button>
            <button mat-raised-button color="primary" mat-dialog-close>Cancel</button>
        </div>
    </form>
</div>

