<ng-template #content let-modal> 
    <div class="modal-content">
        <div class="modal-header d-block">
            <div class="d-flex">
                <h1 class="modal-title">Editing <strong>{{category.name}}</strong>...</h1>
                <button type="button" class="close closeButtonOverride" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="onSubmit()">
                <mat-form-field appearance="fill">
                    <mat-label>
                        Category name:
                    </mat-label>
                    <input matInput required type="text" [formControl]="categoryName">
                </mat-form-field>
                <button mat-raised-button color="primary" [disabled]="!categoryName.valid">Submit</button>
            </form>
        </div>    
    </div>
</ng-template>


