
<mat-toolbar color="primary">
  <button mat-button [routerLink]="['/home']"><mat-icon>book</mat-icon> Books warehouse</button>

  <button mat-button [matMenuTriggerFor]="menuBooks">Books</button>
  <mat-menu #menuBooks="matMenu">
      <button mat-menu-item [routerLink]="['/home']">Books List</button>
      <button mat-menu-item [routerLink]="['/book/add']">Add new book</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menuCategories">Categories</button>
  <mat-menu #menuCategories="matMenu">
    <button mat-menu-item [routerLink]="['/categories']">Categories List</button>
    <button mat-menu-item [routerLink]="['/category/add']">Add new category</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menuAuthors">Authors</button>
  <mat-menu #menuAuthors="matMenu">
    <button mat-menu-item [routerLink]="['/authors']">Authors List</button>
    <button mat-menu-item [routerLink]="['/author/add']">Add new author</button>
  </mat-menu>

  <span class="example-spacer"></span>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>

  <form [formGroup]="searchBook" (ngSubmit)="onSubmit()" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" formControlName='query' >
    <button mat-icon-button type="submit"><mat-icon>search</mat-icon></button>
  </form>
  </mat-toolbar >
