
<div fxLayout="row wrap" fxLayoutGap="50px" class="center">
    <div fxLayout="column">
        <img mat-card-image [src]="imagePath" alt="empty book cover" onerror="this.onerror=null;this.src='./assets/img/bookCover.jpg';">
    </div>

    <div fxLayout="column">
        <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput required formControlName="title" type="text">    
                <mat-error *ngIf="bookForm.get('title')">Only letters and space!</mat-error>
            </mat-form-field>
        
            <br/>
        
            <mat-form-field appearance="fill">
                <mat-label>Author</mat-label>
                <mat-select matInput required formControlName="author" required>
                    <mat-option *ngFor="let author of Authors" [value]="author">
                        {{author.name}} {{author.surname}}
                    </mat-option> 
                </mat-select>   
                <mat-error *ngIf="bookForm.get('author')">Please select author!</mat-error>
            </mat-form-field>
        
            
            <br/>
        
            <mat-form-field appearance="fill">
                <mat-label>Date Released</mat-label>
                <input matInput required formControlName="dateReleased" type="number">    
                <mat-error *ngIf="bookForm.get('dateReleased')">Only numbers! Enter correct date!</mat-error>
            </mat-form-field>
        
            <br/>

            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput required formControlName="description" type="text" rows="5"></textarea>
                <mat-error *ngIf="bookForm.get('description')">Please enter description!</mat-error>
            </mat-form-field>
        
            <br/>
            
            <mat-form-field appearance="fill">
                <mat-label>Categories</mat-label>
                <mat-select multiple formControlName="categories" required>
                    <mat-option *ngFor="let category of Categories" [value]="category">
                        {{category.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="bookForm.get('categories')">Please select category!</mat-error>
            </mat-form-field>
        
            <br/>
        
            <mat-form-field appearance="fill">
                <mat-label>Quantity</mat-label>
                <input matInput required formControlName="quantity" type="number"> 
                <mat-error *ngIf="bookForm.get('quantity')">Please enter quantity! Must be more than 0</mat-error>
            </mat-form-field>
        
            <br/>
        
            <div class="btnRight">
                <button mat-raised-button color="primary" [disabled]="!bookForm.valid">Submit</button>
            </div>
        
        </form>
    </div>

</div>
