<body>
    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
      <caption>Authors List</caption>
      
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Surname </th>
        <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
      </ng-container>
  
      <ng-container matColumnDef="manage">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> Manage </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-button color="primary">EDIT</button>
          <button mat-button color="warn">DELETE</button> </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    </table>
  </body>
      