<h1 mat-dialog-title>Editing <strong>{{author.name}} {{author.surname}}</strong>...</h1>
<div mat-dialog-content>
    <form [formGroup]="authorForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>
                Name:
            </mat-label>
            <input matInput required type="text" formControlName="name">
            <mat-error *ngIf="authorForm.get('name')">Only letters and space!</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>
                Surname:
            </mat-label>
            <input matInput required type="text" formControlName="surname">
            <mat-error *ngIf="authorForm.get('surname')">Only letters and space!</mat-error>
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" [disabled]="!authorForm.valid">Submit</button>
            <button mat-raised-button color="primary" mat-dialog-close>Cancel</button>
        </div>
    </form>
</div>
