<div class="sort">
  <p>
    <strong>
      Sort by:
    </strong>
    
    <span (click)="mouseEnter('title')"> &nbsp; &nbsp; Title <mat-icon id="title" style="color: gray;">arrow_upward</mat-icon></span>
    <span (click)="mouseEnter('author')"> &nbsp; &nbsp; Author <mat-icon id="author" style="color: gray;">arrow_upward</mat-icon></span>
    <span (click)="mouseEnter('date')"> &nbsp; &nbsp; Date released <mat-icon id="date" style="color: gray;">arrow_upward</mat-icon></span>
  </p>
</div>
<div class="divLayout">
  <div fxLayout="row wrap" fxLayoutGap="grid" >
      <div *ngFor="let book of data | async" [style.PaddingLeft.px]="12">
        <app-book-entry [book]="book"></app-book-entry>
      </div>
  </div>
</div>
    
