button {
    float: right;
}

mat-card {
    width: 20%;
}

.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-form-field {
    width: 100%;
}

mat-card-title, mat-card-subtitle {
    text-align: center;
    margin-bottom: 5%;
}